form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: gray;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
