body {
  display: flex;
  flex-direction: row;
  font-family: "Inter", sans-serif;
}

main {
  width: 100%;
  padding: 5%;
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
}

.notVisible {
  display: none;
}

button {
  border: none;
  background-color: #45e9f5;
  color: white;
  padding: 10px;
  border-radius: 0.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  body {
    flex-direction: row;
  }
}
